/* 
    Document   : flexiphp.css
    Created on : Jul 1, 2010, 2:35:32 PM
    Author     : james
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
}

.flexiphp_div_display {
  float: left;
  padding-right: 5px;
}

.flexiphp_div_label {
	font-weight: bold;
}

.flexiphp_div_description {
	font-style: italic;
}

.flexi_field {
	margin-bottom: 5px;
}

.flexiphp_div_input input[type="checkbox"] {
	float: left;
	margin: 0 2px 5px 2px;
}

.flexiphp_div_description, .flexi_field {
	clear: both;
	display: block;
}

.flexiphp_div_title {
	clear: both;
	display: block;
	margin-bottom: 2px;
	border-bottom: 1px solid #888888;
}

.flexiNotice {
	padding: 1px;
}

.flexiNotice .noticeInfo, .flexiNotice .noticeSuccess, .flexiNotice .noticeWarn, .flexiNotice .noticeError {
	border: 1px solid;
  margin: 2px 0px;
  padding:10px 10px 10px 50px;
  background-repeat: no-repeat;
  background-position: 10px;
}

.noticeInfo {
  color: #00529B;
  background-color: #BDE5F8;
}

.noticeSuccess {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.noticeWarn {
  color: #9F6000;
  background-color: #FEEFB3;
}

.noticeError {
  color: #D8000C;
  background-color: #FFBABA;
}

.flexiNotice .noticeInfo {
  background-image: url('../images/notice/info.png');
}

.flexiNotice .noticeSuccess {
  background-image:url('../images/notice/success.png');
}

.flexiNotice .noticeWarn {
  background-image: url('../images/notice/warning.png');
}

.flexiNotice .noticeError {
  background-image: url('../images/notice/error.png');
}

.flexiphp_div_notice {
	color: #dd0000;
	background-color: #FEEFB3;
	font-weight: bold;
}

.flexiphp_div_label .required {
	margin-left: 2px;
	color: #ff0000;
}

.tableDataList {
	border-spacing: 0;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #888888;
}

.tableDataList th {
	border-bottom: 1px solid #888888;
	background: #efefef;
}

.tableDataList th, .tableDataList td {
	padding: 2px;
	border-left: 1px solid #888888;
	border-top: 1px solid #888888;
}

.flexi_field.hidden {
	display: none;
}

.clear {
	clear: both;
}

input, select, textarea {
  padding: 1px;
}

.flexiphp_login_div {
  padding: 2px;
}

.flexiphp_login_div form {
  padding: 5px;
}

.flexi_divOnlyLogin {
  height: 200px;
  width: 250px;
}

.flexi_divOnlyLogin .flexiphp_login_div {
  width: 300px;
}

.flexi_divOnlyLogin .flexiNotice {
  
}

.fieldUploadDisplay {
  min-width: 50px;
  min-height: 20px;
}

.left {
  float: left;
}

.clearleft {
  clear: left;
}

.clearright {
  clear: right;
}

.right {
  float: right;
}

.calendar  {
  font-size:11px;
  margin-left:3px;
}
.calendar .calendarHeader {
  color:#444444;
  font-weight:bold;
}
.calendar td {
  padding:1px 1px 1px 0;
  width:14.2%;
}
.calendar strong a {
  color:#5D0098;
}


#divFields {
  width: 500px;
}

span.required {
  color: #ff0000;
}


ul.pageList {
  margin-left: 0;
  list-style: none;
  list-style-image: none;
  list-style-position: inside;
  display: inline;
}

ul.pagelist li {
  list-style: none;
  display: inline;
  float: left;
}

.register .error {
  color: #ff0000;
}

.register .registerMessage {
  background-color: #FEEFB3;
}

/*
.x-grid3-row-expander {
  background-image:url(../../lib/extjs/3/images/default/grid/row-expand-sprite.gif);
}
*/
div.gridbox .dhx_sub_row table.hdr td.x-btn-mc {
  padding: 0 0;
  border: none;
}

div.gridbox_dhx_skyblue table.hdr td.x-btn-ml, div.gridbox_dhx_skyblue table.hdr td.x-btn-tr, div.gridbox_dhx_skyblue table.hdr td.x-btn-tc, div.gridbox_dhx_skyblue table.hdr td.x-btn-tl,
div.gridbox_dhx_skyblue table.hdr td.x-btn-bl, div.gridbox_dhx_skyblue table.hdr td.x-btn-bc, div.gridbox_dhx_skyblue table.hdr td.x-btn-br, div.gridbox_dhx_skyblue table.hdr td.x-btn-mr
{
  border: none;
}

div.gridbox_dhx_skyblue table.hdr td.x-toolbar-cell {
  border: none;
}

div.gridbox table.hdr td.x-toolbar-left {
  padding: 0;
}

ul.paging {
  border:0; margin:0; padding:0;
  display: block; clear: both;
  min-height: 28px;
}

ul.paging li {
  border:0; margin:2px; padding:0;
  font-size:11px;
  list-style:none;
  margin-right:2px;
  float: left;
  cursor:pointer;
  border:solid 1px #9aafe5;
  padding: 2px;
}

ul.paging a {
  border:solid 1px #9aafe5;
}

ul.paging .previous-off,
ul.paging .next-off, ul.paging .first-off, ul.paging .last-off {
  border:solid 1px #DEDEDE;
  color:#EEEEEE;
  float:left;
  margin-right:2px;
  padding:3px 4px;
}

ul.paging .next a,
ul.paging .previous a, ul.paging first a, ul.paging last a {
  font-weight:bold;
}

ul.paging .active{
  background:#2e6ab1;
  color:#FFFFFF;
  font-weight:bold;
  display:block;
  float:left;
  padding:4px 6px;
}

ul.paging a:link,
ul.paging a:visited {
  color:#0e509e
  display:block;
  float:left;
  padding:3px 6px;
  text-decoration:none;
}

ul.paging a:hover{
  border:solid 1px #0e509e
}

table.grid tbody tr td {
  vertical-align: top;
}

.frmList input[name=btnDelete] {
  float: left;
  margin-right: 5px;
  padding:3px 4px;
  border:solid 1px #9aafe5;
}

div.divPaging {
  float: left;
  display: block;
  clear: right;
}

.tableGrid {
  clear: both;
}

div.ctrlHolder {
  min-height: 40px;
}

body.yui3-skin-sam div.ctrlHolderTitle {
  background: url("http://yui.yahooapis.com/3.3.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 #D8D8D8;
  border: solid 1px #A3A3A3;
  padding: 0.4em 0.75em;
}

div.ctrlHolderTitle {
  border-bottom: 2px solid #eeeeee;
  width: 97.5%;
  min-height: 0;
  margin: 0;
}
