

.flexiphp_div_label {
	font-weight: bold;
}

.flexiphp_div_description {
	font-style: italic;
}

.flexi_field {
	margin-bottom: 5px;
}

.flexiphp_div_input input[type="checkbox"] {
	float: left;
	margin: 0 2px 5px 2px;
}

.flexiphp_div_description, .flexi_field {
	clear: both;
	display: block;
}

.flexiphp_div_title {
	clear: both;
	display: block;
	margin-bottom: 2px;
	border-bottom: 1px solid #888888;
}

.flexiNotice {
	padding: 1px;
}

.flexiNotice .noticeInfo, .flexiNotice .noticeSuccess, .flexiNotice .noticeWarn, .flexiNotice .noticeError {
	border: 1px solid;
  margin: 2px 0px;
  padding:10px 10px 10px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.noticeInfo {
  color: #00529B;
  background-color: #BDE5F8;
}

.noticeSuccess {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.noticeWarn {
  color: #9F6000;
  background-color: #FEEFB3;
}

.noticeError {
  color: #D8000C;
  background-color: #FFBABA;
}

.flexiNotice .noticeInfo {
  background-image: url('../img/notice/info.png');
}

.flexiNotice .noticeSuccess {
  background-image:url('../img/notice/success.png');
}

.flexiNotice .noticeWarn {
  background-image: url('../img/notice/warning.png');
}

.flexiNotice .noticeError {
  background-image: url('../img/notice/error.png');
}

.flexiphp_div_notice {
	color: #dd0000;
	background-color: #FEEFB3;
	font-weight: bold;
}

.flexiphp_div_label .required {
	margin-left: 2px;
	color: #ff0000;
}

.tableDataList {
	border-spacing: 0;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #888888;
}

.tableDataList th {
	border-bottom: 1px solid #888888;
	background: #efefef;
}

.tableDataList th, .tableDataList td {
	padding: 2px;
	border-left: 1px solid #888888;
	border-top: 1px solid #888888;
}

.flexi_field.hidden {
	display: none;
}

.clear {
	clear: both;
}

#divAgendaList ul {
  padding-left: 15px;
}